.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #1e1e30;
  align-items: center;

  height: 80px;
}
@media screen and (max-width: 600px) {
  .header-container {
    max-width: 600px;
    height: 56;
  }
}
.header-card {
  display: flex;
  width: 80%;
  justify-content: space-between;
}
@media screen and (max-width: 600px) {
  .header-card {
    width: 80%;
  }
}
.log-card {
}
.header-logo {
  height: 24px;
  width: 130px;
}
@media screen and (max-width: 600px) {
  .header-logo {
    height: 24px;
    width: 100px;
  }
}
.home-link {
  font-family: Roboto;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 24px;
  color: #f8fafc;
  margin-right: 10px;
}
.about-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 24px;
  color: #94a3b8;
  text-decoration: none;
  margin-left: 15px;
}

.menu-icon {
  height: 35px;
  width: 35px;
}
@media screen and (max-width: 600px) {
  .names-container {
    display: none;
  }
}
.menu-container {
  display: none;
}
@media screen and (max-width: 600px) {
  .menu-container {
    display: flex;
  }
}
.menu-button {
  background: #1e1e30;
  outline: none;
  border: none;
}

.menu-link1 {
  color: #ffffff;
  font-weight: 500;
  font-size: 22px;
  margin-left: 14px;
}

.menu-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 80px;
}
.menu-section {
  display: flex;
  width: 80%;
  justify-content: space-between;
}
.cross-logo {
  height: 35px;
  width: 35px;
}
.menu-button2 {
  background: #161625;
  outline: none;
  border: none;
}
